# Ignore node_modules directory
node_modules/

# Ignore package lock files
package-lock.json
yarn.lock

.firebase/

# Ignore environment-specific files
.env
.env.local

# Ignore build artifacts
.next/
out/
build/
dist/

# Ignore IDE or editor specific files
.vscode/
.idea/

# Ignore log files
logs/
*.log

# Ignore cache or temporary files
*.cache
*.tmp

# Ignore Google Cloud Platform specific files
.gcloudignore
